<div class="col-md-3 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Clientes</h3>
        </div>
        <div class="card-body">
            <form action="/clientes/agregar_cliente" method="POST">
                <div class="form-group">
                    <input type="text" name="cedulaUser" class="form-control" placeholder="Cédula" autofocus />
                </div>
                <div class="form-group">
                    <textarea name="nombreUser" class="form-control" placeholder="Nombre"></textarea>
                </div>
                <div class="form-group">
                    <textarea name="fecNacUser" class="form-control" placeholder="Fecha de nacimiento"></textarea>
                </div>
                <div class="form-group">
                    <textarea name="tipoUser" class="form-control" placeholder="Tipo de usuario"></textarea>
                </div>
                <div class="form-group">
                    <textarea name="lugarUser" class="form-control" placeholder="Lugar"></textarea>
                </div>
                <div class="form-group">
                    <textarea name="email" class="form-control" placeholder="Email"></textarea>
                </div>
                <div class="form-group">
                    <textarea name="telefonoUser" class="form-control" placeholder="Teléfono"></textarea>
                </div>
                <div class="form-group">
                    <textarea name="usuarioUser" class="form-control" placeholder="Usuario"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Agregar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>