<div class="card">
    <div class = "card-body">
        <h1>¿Qué es LibraryTEC?</h1>
        
        <p>
            La lectura es una de las mejores formas para adquirir conocimiento, por esta razón 
            leer es una de las principales habilidades que las personas pueden adquirir. LibraryTEC  
            está hecho para las personas amantes de la lectura, pero que no tienen mucho tiempo para ir a
            una librería a comprar un libro. Por esta razón nuestra empresa ha decidido crear una cadena de
            librerías virtuales, en estas los clientes pueden consultar en línea por diferentes libros y 
            hacer pedidos de los que desean comprar.
        </p>
    </div>

</div>