<div class="jumbotron mt-4">
    <h1 class = 'display-4'> LibraryTEC </h1>
    <p class = "lead"> "Cuando leemos además de aprender e informarnos, podemos 
        dar alas a nuestra imaginación e inspiración, podemos viajar a otros lugares sin tener que desplazarnos".</p>
    <hr class="my-4">
    <p> ¡Le damos la bienvenida a nuestra aplicación! </p>
</div>

