<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">LibraryTEC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="/about">Información</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/librerias_cliente">Librerías</a>
      </li>

      <!clientes>
        <li class="nav-item">
          <a class="nav-link" href="/clientes">Cliente</a>
        </li>

        <!libros>
          <li class="nav-item">
            <a class="nav-link" href="/libros_cliente">Libros</a>
          </li>

          <!promociones>
            <li class="nav-item">
              <a class="nav-link" href="/promociones_cliente">Promociones</a>
            </li>

            <!carrito_compras>
              <li class="nav-item">
                <a class="nav-link" href="/carrito">Carrito de compras</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/logout">Cerrar sesión</a>
              </li>

              {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/users/signin">Iniciar sesión</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/signup">Crear cuenta</a>
              </li>
              {{/if}}

    </ul>
  </div>
</nav>
<div id="google_translate_element"></div>

<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
  }
</script>
<script type="text/javascript"
  src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>