<div class="col-md-3 mx-auto">
    <div class="card">
        <div class="card-header">
            <h6>Quiero ver libros de la librería...</h6>
        </div>
        <div class="card-body">
            <form action="/libros/buscar_libro_lib" method="POST">
                <div class="form-group">
                    <textarea name="Libreria" class="form-control" placeholder="Librería"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>