<div class="row">
    <div class="col-md4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h1>Ingreso a la aplicación</h1>
            </div>
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" class form-control name="email" placeholder="Correo" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class form-control name="password" placeholder="Contraseña">
                    </div>
                    <form action="/librerias">
                        <input type="hidden" name="_method">
                        <button class="btn btn-success btn-block btn-sm" type="submit">
                            Ingresar
                        </button>
                    </form>
                </form>
            </div>
        </div>
    </div>
</div>